[
  {rabbit,                      [ {tcp_listeners,               [5672]},
                                {collect_statistics_interval, 60000},
				{disk_free_limit, "{{ disk_free_limit }}"},
                                {cluster_partition_handling, autoheal},{vm_memory_high_watermark, 0.8} ]
                                },
  {rabbitmq_management,         [ {rates_mode,  basic}] }
].
